<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<title>Sports Crawler Summary</title>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
<div>
<a name="index"></a>
<h2 align="center">Sports Crawler Summary - {{yesterday}}</h2>
</div>
<div class="span10">
<TABLE class="table table-bordered table-hover">
    <tr>
    <th>No.</th>
    <th>Status</th>
    <th>Datagen</th>
    <th>%</th>
    <th>Time</th>
    <th>Memory</th>
    </tr>

{% for key, status, percentage, peak_time, peak_memory, values in big_list %}

{% if loop.index == 1 %}
   <tr>
   <th colspan=6><a href="http://MLB/REPORTS/">MLB</a></th>
   </tr>
{% endif %}

{% if loop.index == 6 %}
   <tr>
   <th colspan=6><a href="http://BASEBALL/REPORTS/">BASEBALL</a></th>
   </tr>
{% endif %}

{% if loop.index == 11 %}
   <tr>
   <th colspan=6><a href="http://NBA/REPORTS/">NBA</a></th>
   </tr>
{% endif %}

{% if loop.index == 15 %}
   <tr>
   <th colspan=6><a href="http://FIBA/REPORTS/">FIBA</a></th>
   </tr>
{% endif %}

{% if loop.index == 16 %}
   <tr>
   <th colspan=6><a href="http://BASKETBALL/REPORTS/">BASKETBALL</a></th>
   </tr>
{% endif %}

{% if loop.index == 24 %}
   <tr>
   <th colspan=6><a href="http://CBA/REPORTS/">CBA</a></th>
   </tr>
{% endif %}

{% if loop.index == 27 %}
   <tr>
   <th colspan=6><a href="http://NHL/REPORTS/">NHL</a></th>
   </tr>
{% endif %}

{% if loop.index == 34 %}
   <tr>
   <th colspan=6><a href="http://HOCKEY/REPORTS/">HOCKEY</a></th>
   </tr>
{% endif %}

{% if loop.index == 35 %}
   <tr>
   <th colspan=6><a href="http://CHAMP/REPORTS/">CHAMP</a></th>
   </tr>
{% endif %}

{% if loop.index == 36 %}
   <tr>
   <th colspan=6><a href="http://NCAA HOCKEY/REPORTS/">NCAA HOCKEY</a></th>
   </tr>
{% endif %}

{% if loop.index == 38 %}
   <tr>
   <th colspan=6><a href="http://KHL/REPORTS/">KHL</a></th>
   </tr>
{% endif %}

{% if loop.index == 41 %}
   <tr>
   <th colspan=6><a href="http://FIH HOCKEY/REPORTS/">FIH HOCKEY</a></th>
   </tr>
{% endif %}

{% if loop.index == 43 %}
   <tr>
   <th colspan=6><a href="http://FIH/REPORTS/">FIH</a></th>
   </tr>
{% endif %}

{% if loop.index == 44 %}
   <tr>
   <th colspan=6><a href="http://NFL/REPORTS/">NFL</a></th>
   </tr>
{% endif %}

{% if loop.index == 48 %}
   <tr>
   <th colspan=6><a href="http://ROSTER CHECK/REPORTS/">ROSTER CHECK</a></th>
   </tr>
{% endif %}

{% if loop.index == 50 %}
   <tr>
   <th colspan=6><a href="http://AFL/REPORTS/">AFL</a></th>
   </tr>
{% endif %}

{% if loop.index == 53 %}
   <tr>
   <th colspan=6><a href="http://CFL/REPORTS/">CFL</a></th>
   </tr>
{% endif %}

{% if loop.index == 56 %}
   <tr>
   <th colspan=6><a href="http://NFL/REPORTS/">NFL</a></th>
   </tr>
{% endif %}

{% if loop.index == 58 %}
   <tr>
   <th colspan=6><a href="http://WNBA/REPORTS/">WNBA</a></th>
   </tr>
{% endif %}

{% if loop.index == 62 %}
   <tr>
   <th colspan=6><a href="http://TENNIS/REPORTS/">TENNIS</a></th>
   </tr>
{% endif %}

{% if loop.index == 82 %}
   <tr>
   <th colspan=6><a href="http://GOLF/REPORTS/">GOLF</a></th>
   </tr>
{% endif %}

{% if loop.index == 103 %}
   <tr>
   <th colspan=6><a href="http://CRICKET/REPORTS/">CRICKET</a></th>
   </tr>
{% endif %}

{% if loop.index == 119 %}
   <tr>
   <th colspan=6><a href="http://UEFA/REPORTS/">UEFA</a></th>
   </tr>
{% endif %}

{% if loop.index == 128 %}
   <tr>
   <th colspan=6><a href="http://SOCCER/REPORTS/">SOCCER</a></th>
   </tr>
{% endif %}

{% if loop.index == 131 %}
   <tr>
   <th colspan=6><a href="http://FIFA/REPORTS/">FIFA</a></th>
   </tr>
{% endif %}

{% if loop.index == 137 %}
   <tr>
   <th colspan=6><a href="http://UEFA/REPORTS/">UEFA</a></th>
   </tr>
{% endif %}

{% if loop.index == 138 %}
   <tr>
   <th colspan=6><a href="http://SOCCER/REPORTS/">SOCCER</a></th>
   </tr>
{% endif %}

{% if loop.index == 139 %}
   <tr>
   <th colspan=6><a href="http://SOCCERWAY/REPORTS/">SOCCERWAY</a></th>
   </tr>
{% endif %}

{% if loop.index == 140 %}
   <tr>
   <th colspan=6><a href="http://SOCCER/REPORTS/">SOCCER</a></th>
   </tr>
{% endif %}

{% if loop.index == 146 %}
   <tr>
   <th colspan=6><a href="http://MLS/REPORTS/">MLS</a></th>
   </tr>
{% endif %}

{% if loop.index == 147 %}
   <tr>
   <th colspan=6><a href="http://FIFA/REPORTS/">FIFA</a></th>
   </tr>
{% endif %}

{% if loop.index == 148 %}
   <tr>
   <th colspan=6><a href="http://AFC/REPORTS/">AFC</a></th>
   </tr>
{% endif %}

{% if loop.index == 150 %}
   <tr>
   <th colspan=6><a href="http://FIFA/REPORTS/">FIFA</a></th>
   </tr>
{% endif %}

{% if loop.index == 151 %}
   <tr>
   <th colspan=6><a href="http://CONCACAF/REPORTS/">CONCACAF</a></th>
   </tr>
{% endif %}

{% if loop.index == 152 %}
   <tr>
   <th colspan=6><a href="http://CCL/REPORTS/">CCL</a></th>
   </tr>
{% endif %}

{% if loop.index == 153 %}
   <tr>
   <th colspan=6><a href="http://CONCACAF/REPORTS/">CONCACAF</a></th>
   </tr>
{% endif %}

{% if loop.index == 155 %}
   <tr>
   <th colspan=6><a href="http://MLS/REPORTS/">MLS</a></th>
   </tr>
{% endif %}

{% if loop.index == 157 %}
   <tr>
   <th colspan=6><a href="http://BALLON AWARDS/REPORTS/">BALLON AWARDS</a></th>
   </tr>
{% endif %}

{% if loop.index == 158 %}
   <tr>
   <th colspan=6><a href="http://CSL/REPORTS/">CSL</a></th>
   </tr>
{% endif %}

{% if loop.index == 160 %}
   <tr>
   <th colspan=6><a href="http://UFC/REPORTS/">UFC</a></th>
   </tr>
{% endif %}

{% if loop.index == 162 %}
   <tr>
   <th colspan=6><a href="http://BOXING/REPORTS/">BOXING</a></th>
   </tr>
{% endif %}

{% if loop.index == 164 %}
   <tr>
   <th colspan=6><a href="http://NCAA BASKETBALL/REPORTS/">NCAA BASKETBALL</a></th>
   </tr>
{% endif %}

{% if loop.index == 166 %}
   <tr>
   <th colspan=6><a href="http://NCAA FOOTBALL/REPORTS/">NCAA FOOTBALL</a></th>
   </tr>
{% endif %}

{% if loop.index == 170 %}
   <tr>
   <th colspan=6><a href="http://NCAA BASKETBALL/REPORTS/">NCAA BASKETBALL</a></th>
   </tr>
{% endif %}

{% if loop.index == 172 %}
   <tr>
   <th colspan=6><a href="http://NCAA FOOTBALL/REPORTS/">NCAA FOOTBALL</a></th>
   </tr>
{% endif %}

{% if loop.index == 174 %}
   <tr>
   <th colspan=6><a href="http://RUGBY/REPORTS/">RUGBY</a></th>
   </tr>
{% endif %}

{% if loop.index == 177 %}
   <tr>
   <th colspan=6><a href="http://NRL/REPORTS/">NRL</a></th>
   </tr>
{% endif %}

{% if loop.index == 178 %}
   <tr>
   <th colspan=6><a href="http://RUGBY/REPORTS/">RUGBY</a></th>
   </tr>
{% endif %}

{% if loop.index == 199 %}
   <tr>
   <th colspan=6><a href="http://MOTO RACING/REPORTS/">MOTO RACING</a></th>
   </tr>
{% endif %}

{% if loop.index == 201 %}
   <tr>
   <th colspan=6><a href="http://AUTO RACING/REPORTS/">AUTO RACING</a></th>
   </tr>
{% endif %}

{% if loop.index == 202 %}
   <tr>
   <th colspan=6><a href="http://NASCAR/REPORTS/">NASCAR</a></th>
   </tr>
{% endif %}

{% if loop.index == 203 %}
   <tr>
   <th colspan=6><a href="http://F1/REPORTS/">F1</a></th>
   </tr>
{% endif %}

{% if loop.index == 205 %}
   <tr>
   <th colspan=6><a href="http://MARATHON/REPORTS/">MARATHON</a></th>
   </tr>
{% endif %}

{% if loop.index == 206 %}
   <tr>
   <th colspan=6><a href="http://WAC/REPORTS/">WAC</a></th>
   </tr>
{% endif %}

{% if loop.index == 207 %}
   <tr>
   <th colspan=6><a href="http://WCA/REPORTS/">WCA</a></th>
   </tr>
{% endif %}

{% if loop.index == 208 %}
   <tr>
   <th colspan=6><a href="http://UCI/REPORTS/">UCI</a></th>
   </tr>
{% endif %}

{% if loop.index == 209 %}
   <tr>
   <th colspan=6><a href="http://CYCLING/REPORTS/">CYCLING</a></th>
   </tr>
{% endif %}

{% if loop.index == 213 %}
   <tr>
   <th colspan=6><a href="http://UCI/REPORTS/">UCI</a></th>
   </tr>
{% endif %}

{% if loop.index == 217 %}
   <tr>
   <th colspan=6><a href="http://CHESS/REPORTS/">CHESS</a></th>
   </tr>
{% endif %}

{% if loop.index == 223 %}
   <tr>
   <th colspan=6><a href="http://FIELD HOCKEY/REPORTS/">FIELD HOCKEY</a></th>
   </tr>
{% endif %}

{% if loop.index == 226 %}
   <tr>
   <th colspan=6><a href="http://COMMONWEALTH/REPORTS/">COMMONWEALTH</a></th>
   </tr>
{% endif %}

{% if loop.index == 230 %}
   <tr>
   <th colspan=6><a href="http://CRICKET/REPORTS/">CRICKET</a></th>
   </tr>
{% endif %}

{% if loop.index == 231 %}
   <tr>
   <th colspan=6><a href="http://NCAA FOOTBALL/REPORTS/">NCAA FOOTBALL</a></th>
   </tr>
{% endif %}

{% if loop.index == 232 %}
   <tr>
   <th colspan=6><a href="http://ISL/REPORTS/">ISL</a></th>
   </tr>
{% endif %}

{% if loop.index == 233 %}
   <tr>
   <th colspan=6><a href="http://NCAA FOOTBALL/REPORTS/">NCAA FOOTBALL</a></th>
   </tr>
{% endif %}

{% if loop.index == 234 %}
   <tr>
   <th colspan=6><a href="http://ISL/REPORTS/">ISL</a></th>
   </tr>
{% endif %}

{% if loop.index == 235 %}
   <tr>
   <th colspan=6><a href="http://AUTO RACING/REPORTS/">AUTO RACING</a></th>
   </tr>
{% endif %}

{% if loop.index == 236 %}
   <tr>
   <th colspan=6><a href="http://UEFA/REPORTS/">UEFA</a></th>
   </tr>
{% endif %}

{% if loop.index == 237 %}
   <tr>
   <th colspan=6><a href="http://EOC/REPORTS/">EOC</a></th>
   </tr>
{% endif %}


    <tr>
        <td align=center>{{loop.index}}</td>
        <td align="center">{{status}}</td>
        <td><a href="#{{key}}">{{key}}</a></td>
        <td align="center">{{percentage}}%</td>
        <td align="center">{{peak_time}}</td>
        <td align="center">{{peak_memory}}</td>
    </tr>

{% endfor %}
</TABLE>
</div>

<div class="row">
</div>

{% for key, status, percentage, peak_time, peak_memory, values in big_list %}
<br/>
<a name="{{key}}"/>
<span class="label label-info" type="button">{{key}}</span>
<br/>
<div style="height: 335px; overflow: auto;">
<TABLE class="table table-bordered table-hover">
{% for row in values %}
{% if loop.index == 1 %}


{% if key.startswith('MLB ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MLB SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MLB SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MLB STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MLB MVP - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('COLLEGE WORLD SERIES SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MEXICAN BASEBALL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MEXICAN BASEBALL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MEX BASEBALL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MEX BASEBALL ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NBA ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NBA SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NBA SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NBA STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIBA SPIDER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('EURO BASKETBALL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('EURO BASKETBALL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FINLAND BASKETBALL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FINLAND BASKETBALL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SCAND BASKETBALL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('BASKETBALL REALGM SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('BASKETBALL REALGM SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('BASKETBALL REALGM ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CBA BASKETBALL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CBA BASKETBALL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CBA STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NHL ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NHL SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NHL SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NHL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NHL ESPN SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NHL ESPN SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ESPN NHL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('HOCKEY CHAMP TROPHY - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CHAMP TROPHY STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCAA HOCKEY SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCAA HOCKEY SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('KHL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('KHL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('KHL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIH HOCKEY SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIH HOCKEY SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIH STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NFL ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NFL SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NFL SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NFL SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ROSTER CHECK - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CRICKET ROSTER CHECK - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('AFL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('AFL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('AFL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CFL SPIDER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CFL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CFL ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NFL SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NFL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WNBA ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WNBA SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WNBA SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WNBA STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('TENNIS SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('TENNIS SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WIMBLEDON GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FRENCH OPEN SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FRENCH OPEN DRAWS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FRENCH OPEN QUALIIFYING - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('US OPEN TENNIS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('TENNIS FED CUP - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('IPTL TENNIS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('IPTL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WORLD TOUR TENNIS SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WORLD TOUR TENNIS SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('DAVIS CUP SPIDER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('DAVIS CUP ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FED CUP ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('HOPMAN CUP ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('HOPMAN CUP SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('HOPMAN CUP SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ATP WTA STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('US OPEN TENNIS SEED - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('PGA TOUR SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('PGA TOUR ONGOING - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('PGA TOUR SOCRES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('PGA STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('LPGA GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('LPGA ONGOING - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('LPGA STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('EUROPEAN TOUR Schedules - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('EUROPEAN TOUR ONGOING - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('EUROPEAN TOUR SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('EUROPEAN STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CHAMPIONS US OPEN SPIDER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CHAMPIONS TOUR - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CHAMPIONS ONGOING - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WEBCOM TOUR GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WEBCOM ONGOING - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SENIOR TOUR - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('GOLF SENIOR TOUR SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('GOLF SENIOR TOUR SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RYDERCUP - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('AUSTRALIA OPEN GOLF - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ICC CRICKET - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CRICKET STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('IPL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('IPL CRICKET ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ICC INTCUP STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ICC WORLD CUP STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WCL CRICKET STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('COUNTY CRICKET STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NATWEST CRICKET STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CPL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ICC INTER CUP ROSTERS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WCL CRICKET ROSTERS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ROYAL ONE DAY CUP STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('COUNTY CRICKET ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('HKPL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('BIG BASH STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA MAJOR LEAGUE SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA LEAGUES ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA LEAGUE SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA LEAGUE SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA LEAGUES STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA CUPS SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA CUPS SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA ASSOC LEAGUE SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA ASSOC LEAGUE SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ESPN SOCCER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ESPN GROUP STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ESPN SOCCER STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIFA INTERNATIONAL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIFA INTERNATIONAL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIFA TEAM STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIFA GROUP STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIFA WORLD CUP - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIFA WORLD CUP QUALIFIERS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA MAJOR LEAGUE ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SOCCERWAY SOCCER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SOCCERWAY SOCCER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SOCCERWAY INTERNATIONAL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SOCCERWAY INTERNATIONAL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SOCCERWAY SOCCER STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SOCCERWAY SOCCER ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SOCCERWAY FACUP SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SOCCERWAY FACUP SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MLS SOCCER STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIFA CLUB WORLD CUP - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('AFC ASIAN CUP - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('AFC STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIFA WOMENS STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CONCACAF SOCCER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CCL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CONCACAF U20 - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CONCACAF U20 STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MLS SOCCER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MLS SOCCER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('BALLON AWARDS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CSL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CSL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UFC SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UFC SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WBA BOXING SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WBA BOXING SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCAA SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCAA SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCF SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCF SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCAA FOOTBALL SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCAA FOOTBALL SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCB ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCB STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCAA NCF STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCF TOU STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY SIXNATIONS STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NRL RUGBY - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('EUROPE RUGBY STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY EUROPE SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY EUROPE SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY CHAMPIONS SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY CHAMPIONS SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY CHAMPIONS STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SUPER RUGBY STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SUPER RUGBY SPIDER SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SUPER RUGBY SPIDER SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ITM CUP RUGBY SPIDER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ITM CUP RUGBY STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('HEARTLAND RUGBY - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SUPER LEAGUE RUGBY SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SUPER LEAGUE RUGBY SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SUPER LEAGUE STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('SUPER RUGBY ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('HEARTLAND STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY WORLD CUP ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY WORLD CUP - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY WORLD CUP STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RUGBY CHAMP STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MOTOGP SPIDER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MOTO STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('AUTO RACING STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NASCAR STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('F1 STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('F1 WINNER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('MARATHON STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WAC STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WCA STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UCI CYCLING WORLD TOUR - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CYCLING STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('LETOUR GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('LETOUR STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('LETOUR GROUPSTANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UCI WOMENS STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UCI WOMENS WORLDCUP SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UCI WOMENS WORLDCUP SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UCI WOMENS TOUR - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CHESS RAPID GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CHESS BLITZ GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('RAPID & BLITZ STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WORLD RAPID & BLITZ STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('WORLD CHESS SPIDER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CHESS FIDE GRAND PRIX - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIELD HOCKEY ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIELD HOCKEY SCHEDULES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('FIELD HOCKEY SCORES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('COMMONWEALTH GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('COMMONWEALTH STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('COMMONWEALTH TEAM GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('COMMONWEALTH HOCKEY GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('CRICKET ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCF ROSTER - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('INDIAN SUPER LEAGUE - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('NCAA BOWL GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('ISL STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('AUTO RACING GAMES - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('UEFA GROUP STANDINGS - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


{% if key.startswith('EOC WATER POLO - <small>10.28.216.45</small>') %}
<tr>
<th colspan=8>Program Stats</th>
<th colspan=3>Sports Stats</th>
<th colspan=5>Crawl Stats</th>
</tr>
{% endif %}


<tr>
<tr>
{% for item in row %}
<th style="width: auto">{{ item }}</th>
{% endfor %}
</tr>
{% else %}

<tr>
{% for item in row %}
<td align="center">{{ item }}</td>
{% endfor %}
</tr>

{% endif %}
{% endfor %}
</TABLE>
</div>

{% if loop.index in (5, 10, 14, 15, 23, 26, 33, 34, 35, 37, 40, 42, 43, 47, 49, 52, 55, 57, 61, 81, 102, 118, 127, 130, 136, 137, 138, 139, 145, 146, 147, 149, 150, 151, 152, 154, 156, 157, 159, 161, 163, 165, 169, 171, 173, 176, 177, 198, 200, 201, 202, 204, 205, 206, 207, 208, 212, 216, 222, 225, 229, 230, 231, 232, 233, 234, 235, 236, 237, ) %}
<hr color="blue"></hr>
{% endif %}

{% endfor %}
<tr>
        <p align="center"><a href="#index"><b>Top</b></a></p>
</tr>

<!script src="/js/jquery.js"></script>
<!script src="/js/bootstrap.min.js"></script>

</body>
</html>
