<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<title>Spiders Summary Reports</title>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/demo_table.css"    rel="stylesheet" media="screen">
<link href="/css/jquery_custom.css" rel="stylesheet" media="screen">

</head>

<body>
<div>
<a name="index"/>
<h2 align="center">Sports Report: Status and Stats - {{yesterday}}<h2>
</div>
<div class="span8">
<table id="myTable" class="table table-bordered table-hover">
    <thead>
    <tr>
    <th>No.</th>
    <th>Spiders</th>
    <th>Status</th>
    <th>%</th>
    <th>Time</th>
    <th>Memory</th>
    </tr>
    </thead>

<tbody>

{% for key, status, percentage, peak_time, peak_memory, values in big_list %}

    <tr>
        <td align=center>{{loop.index}}</td>
        <td><a href="#{{key}}">{{key.split('ON 1')[0]}}</a></td>
        <td align="center">{{ status }}</td>
        <td align="center">{{ percentage }}</td>
        <td align="center">{{ peak_time }}</td>
        <td align="center">{{ peak_memory }}</td>
    </tr>

{% endfor %}
</tbody>
</table>
</div>

<div class="row">
</div>

{% for key, status, percentage, peak_time, peak_memory, values in big_list %}
<br/>
<a name="{{key}}"/>
<span class="label label-info" type="button">{{key}}</span>
<br/>
<div style="height: 335px; overflow: auto;">
<TABLE class="table table-bordered table-hover">
{% for row in values %}
{% if loop.index == 1 %}

#TABLE_ITEMS#

<tr>
<tr>
{% for item in row %}
<th style="width: auto">{{ item }}</th>
{% endfor %}
</tr>
{% else %}

<tr>
{% for item in row %}
<td align="center">{{ item }}</td>
{% endfor %}
</tr>

{% endif %}
{% endfor %}
</TABLE>
</div>

{% if loop.index == #BLUE_ITEMS# %}
<hr color="blue"></hr>
{% endif %}

{% endfor %}
<tr>
        <p align="center"><a href="#index"><b>Top</b></a></p>
</tr>

<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<!--<script src="/js/jquery.dataTables.js" type="text/javascript"></script>-->
<script type="text/javascript" src="/js/jquery-latest.js"></script>
<script type="text/javascript" src="/js/__jquery.tablesorter.min.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function()
    {
        $('#myTable').tablesorter();
    }
);
</script>


</body>
</html>
