{% if 'login' in parameters %}
<html>
    <head>
        <title> VEVEO {{ parameters['login']['sub_system_type'] }} {{ parameters['login']['sysd_ip'] }} EMS</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/img/veveologosmall.png">

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="/css/background.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">    
        <link rel="stylesheet" type="text/css" href="/css/resizer.css">
        <link rel="stylesheet" type="text/css" href="/css/jquery.treeview.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo_table.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery_custom.css" />
    </head>

    <body onclick="return update_session_inactivity_timer();" onkeypress="return update_session_inactivity_timer();">
        <div class='header row' style="height:76px">
            <div>
                <div class="span2"><img style="padding-top:10px;padding-left:56px;width:70%" src="/img/veveologo.png">
                    <br>
                    <div style="margin-top:10px;margin-left:-30px;width:270px;background:#F3F8FB;text-align:center;border-top: 1px solid #86BDDF;border-right: 1px solid #86BDDF;">
                        {% if parameters['login']['sub_system_type'] == 'NMS' %}
                            <select id="MONITOR_IP_LIST" name="monitor_ip" style="font-size:20; color:blue;" onChange="on_change_monitor_callback('MONITOR_IP_LIST')">
                            {% for monitor_ip in parameters['login']['monitor_list'] %}
                               <option value="{{ monitor_ip }}">NMS: {{ monitor_ip }}</option>
                            {% endfor %}

                            </select>
                        {% else %}
                            <font style="font-size:15px;">{{ parameters['login']['sub_system_type'] }} {{ parameters['login']['sysd_ip'] }}</font>
                        {% endif %}
                    </div>
                </div>

                <div style="display:inline;z-index:90;margin-right: 10px;margin-top: 20px" class="input-append pull-right">
                    <input type="search" style="width: 240px;" placeholder="Search..." id="search_input" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"><span class="add-on"><i class="icon-search"></i></span>
                </div>
            </div>
            <br><br><br>
            <div class="pull-right"><span style="font-size:10px;margin-right:10px">Server Version: {{ parameters['login']['server_version'] }}</span></div>
        </div>

        <div class="line horizontalLine" style="background-color: #FFFFFF;"></div>
        <div class="line horizontalLine" style="background-color: #86BDDF;"></div>

        <table id='body' class='body' cellpadding="0px" style='position:fixed;width:100%%;height:100%%'>
            <tr>
                <td class='dataSource'>
                    <div id="dataSource" >
                    </div>    
                </td>
                <td class="line verticalLine" width="1px" style="background-color: #FFFFFF;"></td>
                <td class="line verticalLine" width="1px" style="background-color: #86BDDF;"></td>
                <td id='inner' class='inner'>
                    <div id='innerdiv'></div>
                </td>
            </tr>
            <tr style="display:none">
            <td><input type="hidden" name="user_level" value="{{ parameters['login']['user_level'] }}" id="user_level"/></td>
            <td><input type="hidden" name="system_type" value="{{ parameters['login']['system_type'] }}" id="system_type"/></td>
            <td><input type="hidden" name="username" value="{{ parameters['login']['user_name'] }}" id="username"/></td>
            </tr>
        </table>

        <script type="text/javascript" src = "/js/jquery.min.js"></script>
        <script type="text/javascript" src = "/js/bootstrap.min.js"></script>
        <script type="text/javascript" src = "/js/jquery.treeview.js"></script>
        <script type="text/javascript" src = "/js/common.js"></script>
        <script type="text/javascript" src = "/js/config.js"></script>
        <script type="text/javascript" src = "/js/vtv_menu.js"></script> 
        <script type="text/javascript" src = "/js/var.js"></script>
        <script type="text/javascript" src = "/js/jquery.dataTables.js"></script> 
        <script type="text/javascript" src = "/js/system_config_xml_tags.js"></script>
        <script type="text/javascript" src = "/js/command_xml_tags.js"></script>
        <script type="text/javascript" src = "/js/jquery_custom.js"></script>
        <script> $(document).ready(function(){ vtv_menu_init(); }); </script>
    </body>
</html>

{% endif %}

{% if 'server_stats' in parameters %}
<h3>Server Stats:</h3>
<table ID="panel_01" border="1" cellpadding="4" class="table table-hover table-condensed">

<thead>
<tr style="background-color: silver;">
<th colspan=7>Common</th><th colspan=3>CPU</th><th colspan=2>Memory</th><th colspan=2>SWAP</th><th colspan=3>LoadAvg</th>
</tr>

<tr style="background-color: silver;">
<th>State</th><th>Alarm</th><th>Progress</th><th>Server</th><th>UP Time</th><th>Crashes</th><th>Restarts</th>
<th>Model</th><th>Count</th><th>Used (%)</th>
<th>Total (KB)</th><th>Used (%)</th>
<th>Total (KB)</th><th>Used (%)</th>
<th>1m</th><th>3m</th><th>15m</th>
</tr>

</thead>
<tbody>

{% for row in parameters['server_stats'] %}
<tr>        
{% for item in row %}
<td>{{item}}</td>        
{% endfor %}
</tr>        
{% endfor %}

</tbody>

</table>

{% endif %}

{% if 'process_stats' in parameters %}

<br/>
<h3>Process Stats:</h3>
<table ID="panel_11" border="1" cellpadding="4" class="table table-hover table-condensed">

<thead>
<tr style="background-color: silver;">
<th>State</th><th>Alarm</th><th>Progress</th><th>Server</th><th>Name</th><th>ID</th><th>PID</th><th>UP Time</th><th>Crashes</th><th>Restarts</th><th>CPU (%)</th><th>Memory (%)</th>
</tr>
</thead>

<tbody>

{% for row in parameters['process_stats'] %}
<tr>
{% for item in row %}
<td>{{item}}</td>
{% endfor %}
</tr>        
{% endfor %}
    
</tbody>
    
</table>
    
{% endif %}

