<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet"/>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script type="text/javascript">
$(function(){
var xmlhttp = new XMLHttpRequest();
var from_date;
var to_date;
var sort_element;
var source;
var total_pages=1;
var category_name;
var brand_name='all';
var image_dict  = {
    "myntra":"/static/images/myntra.png",
    "nnnow":"/static/images/nnnow.png",
    "amazon":"/static/images/amazon-img.jpg",
    "ajio":"/static/images/ajio.png"
}

// var page_number=1;
$('#pagination-here, #pagination_here_down').bootpag({
      total: total_pages,
      page: 1,
      leaps: true,
      firstLastUse: true,
      first: '←',
      last: '→',
      wrapClass: 'pagination',
      activeClass: 'active',
      disabledClass: 'disabled',
      nextClass: 'next',
      prevClass: 'prev',
      lastClass: 'last',
      firstClass: 'first',
      maxVisible: 10,
      href: "#{{number}}",
    })
$('#pagination-here').on("page", function (event, num) {

  var url = "/search?" + $.param({ startdate: from_date, enddate: to_date, source: source, sortBy: sort_element,category:category_name, page_num: num ,brandName:brand_name})
  $('.loader').removeClass('hide');
  $.get(url, function (response) {
    $('.loader').addClass('hide');
    var respo = JSON.parse(JSON.stringify(response))
    var items = ''
    var res = JSON.parse(respo["products"])
    for(var i=0;i<res.length;i++){
                var valid_url = res[i]['reference_url'].includes('http')
                var reference_url = res[i]['reference_url']
                if(!valid_url){
                    reference_url = 'https://www.myntra.com/'+res[i]['reference_url']
                }
                items = items + "<div class='col-md-3 d-flex';><a style='width: 100%;' href='"+reference_url+"' target='_blank' class='highlightit'><figure class='card card-product' style='width: 100%; margin: 0 0 2rem;'><div class='img-wrap'><img style='position: relative;' src="+res[i]['image_url']+"><img class='float-right' style='margin:0 10px; position: absolute;left: 0' src='" + image_dict[res[i]['source']] + "' height='30px' width='30px'></div><figcaption class='info-wrap'>"
                items = items+"<h6 class='title text-dots'><strong>"+res[i]['brand']+"</strong></h6><h6 class='title text-dots'>"+res[i]['title']+"</h6><div class='action-wrap'><span class='price-new float-right numberCircle'>"+res[i]['ratings_count']+"</span>"
                items = items+"<div class='price-wrap h5'><span class='price-new'>"+res[i]['selling_price']+"</span><del class='price-old'>"+res[i]['mrp']+"</del></div></div></figcaption></figure></a></div>"
            }
    $('#add_element').html(items);
    console.log(res[1])
  });
});
$('#date').html(moment().subtract(5, 'days').format('MMMM DD, YYYY') + ' - ' + moment().subtract(0, 'days').format('MMMM DD, YYYY'));
$('#picker').daterangepicker({
    startDate: moment().subtract(5, 'days'),
    endDate: moment(),
    ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last Week': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        }
    }, function(start, end){
        from_date   = $('#picker').data('daterangepicker').startDate.format('YYYY-MM-DD');
        to_date     = $('#picker').data('daterangepicker').endDate.format('YYYY-MM-DD');
        brand_name = 'all';
        var url = "/search?" + $.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name,brandName:brand_name})
        $('#date').html(start.format('MMMM DD, YYYY') + ' - ' + end.format('MMMM DD, YYYY'))
        $('.loader').removeClass('hide');
        $.get(url,function(response) {
            $('.loader').addClass('hide');
            var respo = JSON.parse(JSON.stringify(response))
            var items = ''
            var res = JSON.parse(respo["products"])
            $('#pagination-here, #pagination_here_down').bootpag({
              total: JSON.parse(respo["totalCount"]),
            })
            for(var i=0;i<res.length;i++){
                var valid_url = res[i]['reference_url'].includes('http')
                var reference_url = res[i]['reference_url']
                if(!valid_url){
                    reference_url = 'https://www.myntra.com/'+res[i]['reference_url']
                }
                items = items + "<div class='col-md-3 d-flex';><a style='width: 100%;' href='"+reference_url+"' target='_blank' class='highlightit'><figure class='card card-product' style='width: 100%; margin: 0 0 2rem;'><div class='img-wrap'><img style='position: relative;' src="+res[i]['image_url']+"><img class='float-right' style='margin:0 10px; position: absolute;left: 0' src='" + image_dict[res[i]['source']] + "' height='30px' width='30px'></div><figcaption class='info-wrap'>"
                items = items+"<h6 class='title text-dots'><strong>"+res[i]['brand']+"</strong></h6><h6 class='title text-dots'>"+res[i]['title']+"</h6><div class='action-wrap'><span class='price-new float-right numberCircle'>"+res[i]['ratings_count']+"</span>"
                items = items+"<div class='price-wrap h5'><span class='price-new'>"+res[i]['selling_price']+"</span><del class='price-old'>"+res[i]['mrp']+"</del></div></div></figcaption></figure></a></div>"
            }
            $('#add_element').html(items);
            $('ul.bootpag>li').not('.prev').first().trigger('click');
            console.log(res[1])
        });
        brandUrl = "/brands?"+$.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name})
        $.get(brandUrl,function(response) {
              var res = JSON.parse(response)
              var items = ''
              for(var i=0;i<res.length;i++){
                      items = items + '<option value="'+res[i]['brand']+'">'
                  }
              $('#brands').html(items);
        });
    });

  from_date   = $('#picker').data('daterangepicker').startDate.format('YYYY-MM-DD');
  to_date     = $('#picker').data('daterangepicker').endDate.format('YYYY-MM-DD');
  sort_element = $("#sorted_names option:selected").val();
  source = $("#sources option:selected").val();
  category_name = $("#category option:selected").val();
  console.log(from_date)
  console.log(to_date)
  console.log(sort_element)
  console.log(source)
  console.log(category_name)
  var url = "/search?" + $.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name})
  $('.loader').removeClass('hide');
  $.get(url,function(response) {
        $('.loader').addClass('hide');
        var respo = JSON.parse(JSON.stringify(response))
        var items = ''
        var res = JSON.parse(respo["products"])
        $('#pagination-here, #pagination_here_down').bootpag({
          total: JSON.parse(respo["totalCount"]),
        })
        console.log(res[1])
        for(var i=0;i<res.length;i++){
                var valid_url = res[i]['reference_url'].includes('http')
                var reference_url = res[i]['reference_url']
                if(!valid_url){
                    reference_url = 'https://www.myntra.com/'+res[i]['reference_url']
                }
                items = items + "<div class='col-md-3 d-flex';><a style='width: 100%;' href='"+reference_url+"' target='_blank' class='highlightit'><figure class='card card-product' style='width: 100%; margin: 0 0 2rem;'><div class='img-wrap'><img style='position: relative;' src="+res[i]['image_url']+"><img class='float-right' style='margin:0 10px; position: absolute;left: 0' src='" + image_dict[res[i]['source']] + "' height='30px' width='30px'></div><figcaption class='info-wrap'>"
                items = items+"<h6 class='title text-dots'><strong>"+res[i]['brand']+"</strong></h6><h6 class='title text-dots'>"+res[i]['title']+"</h6><div class='action-wrap'><span class='price-new float-right numberCircle'>"+res[i]['ratings_count']+"</span>"
                items = items+"<div class='price-wrap h5'><span class='price-new'>"+res[i]['selling_price']+"</span><del class='price-old'>"+res[i]['mrp']+"</del></div></div></figcaption></figure></a></div>"
            }
        $('#add_element').html(items);
  });
  brandUrl = "/brands"
  $.get(brandUrl,function(response) {
        var res = JSON.parse(response)
        var items = ''
        for(var i=0;i<res.length;i++){
                items = items + '<option value="'+res[i]['brand']+'">'
            }
        $('#brands').html(items);
  });
  sourceUrl = "/sources"
  $.get(sourceUrl,function(response) {
        var res = JSON.parse(response)
        var items = '<option selected value="all">All</option>'
        for(var i=0;i<res.length;i++){
                items = items + '<option value="'+res[i]['source']+'">'+res[i]['source']+'</option>'
            }
        $('#sourcename').html(items);
  });

  $('body').on('change', '#sorted_names', function(){
    sort_element = $("#sorted_names option:selected").val();
    brand_name='all';
    var url = "/search?" + $.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name,brandName:brand_name})
    $('.loader').removeClass('hide');
    $.get(url,function(response) {
        $('.loader').addClass('hide');
        var respo = JSON.parse(JSON.stringify(response))
        var items = ''
        var res = JSON.parse(respo["products"])
        $('#pagination-here, #pagination_here_down').bootpag({
          total: JSON.parse(respo["totalCount"]),
        })
        for(var i=0;i<res.length;i++){
                var valid_url = res[i]['reference_url'].includes('http')
                var reference_url = res[i]['reference_url']
                if(!valid_url){
                    reference_url = 'https://www.myntra.com/'+res[i]['reference_url']
                }
                items = items + "<div class='col-md-3 d-flex';><a style='width: 100%;' href='"+reference_url+"' target='_blank' class='highlightit'><figure class='card card-product' style='width: 100%; margin: 0 0 2rem;'><div class='img-wrap'><img style='position: relative;' src="+res[i]['image_url']+"><img class='float-right' style='margin:0 10px; position: absolute;left: 0' src='" + image_dict[res[i]['source']] + "' height='30px' width='30px'></div><figcaption class='info-wrap'>"
                items = items+"<h6 class='title text-dots'><strong>"+res[i]['brand']+"</strong></h6><h6 class='title text-dots'>"+res[i]['title']+"</h6><div class='action-wrap'><span class='price-new float-right numberCircle'>"+res[i]['ratings_count']+"</span>"
                items = items+"<div class='price-wrap h5'><span class='price-new'>"+res[i]['selling_price']+"</span><del class='price-old'>"+res[i]['mrp']+"</del></div></div></figcaption></figure></a></div>"
            }
        $('#add_element').html(items);
        $('ul.bootpag>li').not('.prev').first().trigger('click');
   });
  });
  $('body').on('change', '#sources', function(){
    source = $("#sources option:selected").val();
    brand_name='all'
    var url = "/search?" + $.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name,brandName:brand_name})
    $('.loader').removeClass('hide');
    $.get(url,function(response) {
        $('.loader').addClass('hide');
        var respo = JSON.parse(JSON.stringify(response))
        var items = ''
        var res = JSON.parse(respo["products"])
        $('#pagination-here, #pagination_here_down').bootpag({
          total: JSON.parse(respo["totalCount"]),
        })
        for(var i=0;i<res.length;i++){
                var valid_url = res[i]['reference_url'].includes('http')
                var reference_url = res[i]['reference_url']
                if(!valid_url){
                    reference_url = 'https://www.myntra.com/'+res[i]['reference_url']
                }
                items = items + "<div class='col-md-3 d-flex';><a style='width: 100%;' href='"+reference_url+"' target='_blank' class='highlightit'><figure class='card card-product' style='width: 100%; margin: 0 0 2rem;'><div class='img-wrap'><img style='position: relative;' src="+res[i]['image_url']+"><img class='float-right' style='margin:0 10px; position: absolute;left: 0' src='" + image_dict[res[i]['source']] + "' height='30px' width='30px'></div><figcaption class='info-wrap'>"
                items = items+"<h6 class='title text-dots'><strong>"+res[i]['brand']+"</strong></h6><h6 class='title text-dots'>"+res[i]['title']+"</h6><div class='action-wrap'><span class='price-new float-right numberCircle'>"+res[i]['ratings_count']+"</span>"
                items = items+"<div class='price-wrap h5'><span class='price-new'>"+res[i]['selling_price']+"</span><del class='price-old'>"+res[i]['mrp']+"</del></div></div></figcaption></figure></a></div>"
            }
        $('#add_element').html(items);
        $('ul.bootpag>li').not('.prev').first().trigger('click');
  });
    brandUrl = "/brands?"+$.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name})
    $.get(brandUrl,function(response) {
          var res = JSON.parse(response)
          var items = ''
          for(var i=0;i<res.length;i++){
                  items = items + '<option value="'+res[i]['brand']+'">'
              }
          $('#brands').html(items);
    });
  });
  $('body').on('change', '#category', function(){
    category_name = $("#category option:selected").val();
    console.log(category_name)
    brand_name = 'all';
    var url = "/search?" + $.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name,brandName:brand_name})
    $('.loader').removeClass('hide');
    $.get(url,function(response) {
        $('.loader').addClass('hide');
        var respo = JSON.parse(JSON.stringify(response))
        var items = ''
        var res = JSON.parse(respo["products"])
        $('#pagination-here, #pagination_here_down').bootpag({
          total: JSON.parse(respo["totalCount"]),
        })
        for(var i=0;i<res.length;i++){
                var valid_url = res[i]['reference_url'].includes('http')
                var reference_url = res[i]['reference_url']
                if(!valid_url){
                    reference_url = 'https://www.myntra.com/'+res[i]['reference_url']
                }
                items = items + "<div class='col-md-3 d-flex';><a style='width: 100%;' href='"+reference_url+"' target='_blank' class='highlightit'><figure class='card card-product' style='width: 100%; margin: 0 0 2rem;'><div class='img-wrap'><img style='position: relative;' src="+res[i]['image_url']+"><img class='float-right' style='margin:0 10px; position: absolute;left: 0' src='" + image_dict[res[i]['source']] + "' height='30px' width='30px'></div><figcaption class='info-wrap'>"
                items = items+"<h6 class='title text-dots'><strong>"+res[i]['brand']+"</strong></h6><h6 class='title text-dots'>"+res[i]['title']+"</h6><div class='action-wrap'><span class='price-new float-right numberCircle'>"+res[i]['ratings_count']+"</span>"
                items = items+"<div class='price-wrap h5'><span class='price-new'>"+res[i]['selling_price']+"</span><del class='price-old'>"+res[i]['mrp']+"</del></div></div></figcaption></figure></a></div>"
            }
        $('#add_element').html(items);
        $('ul.bootpag>li').not('.prev').first().trigger('click');
   });
    brandUrl = "/brands?"+$.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name})
    $.get(brandUrl,function(response) {
          var res = JSON.parse(response)
          var items = ''
          for(var i=0;i<res.length;i++){
                  items = items + '<option value="'+res[i]['brand']+'">'
              }
          $('#brands').html(items);
    });
  });
  document.getElementsByName("brand")[0].onchange = function (event) {
     var evt = event || window.event;
     var parElem = evt.srcElement || evt.target;
     for (var i=0; i<document.getElementById('brands').options.length; i++)
     {
         if (document.getElementById('brands').options[i].value ==  document.getElementsByName("brand")[0].value)
         {
            brand_name = document.getElementById('brands').options[i].value
            var url = "/search?" + $.param({startdate:from_date, enddate: to_date,source:source,sortBy:sort_element,category:category_name,brandName:brand_name})
            $.get(url,function(response) {
              $('.loader').addClass('hide');
              var respo = JSON.parse(JSON.stringify(response))
              var items = ''
              var res = JSON.parse(respo["products"])
              $('#pagination-here, #pagination_here_down').bootpag({
                total: JSON.parse(respo["totalCount"]),
              })
              for(var i=0;i<res.length;i++){
                      var valid_url = res[i]['reference_url'].includes('http')
                      var reference_url = res[i]['reference_url']
                      if(!valid_url){
                          reference_url = 'https://www.myntra.com/'+res[i]['reference_url']
                      }
                      items = items + "<div class='col-md-3 d-flex';><a style='width: 100%;' href='"+reference_url+"' target='_blank' class='highlightit'><figure class='card card-product' style='width: 100%; margin: 0 0 2rem;'><div class='img-wrap'><img style='position: relative;' src="+res[i]['image_url']+"><img class='float-right' style='margin:0 10px; position: absolute;left: 0' src='" + image_dict[res[i]['source']] + "' height='30px' width='30px'></div><figcaption class='info-wrap'>"
                      items = items+"<h6 class='title text-dots'><strong>"+res[i]['brand']+"</strong></h6><h6 class='title text-dots'>"+res[i]['title']+"</h6><div class='action-wrap'><span class='price-new float-right numberCircle'>"+res[i]['ratings_count']+"</span>"
                      items = items+"<div class='price-wrap h5'><span class='price-new'>"+res[i]['selling_price']+"</span><del class='price-old'>"+res[i]['mrp']+"</del></div></div></figcaption></figure></a></div>"
                  }
              $('#add_element').html(items);
              $('ul.bootpag>li').not('.prev').first().trigger('click');
             });
             break;
         }
    }
 }

});

</script>

<div class="container">
<nav class="navbar navbar-light bg-primary margin-down">
    <div id="picker" class="col-md-3 nav-item nav-align">
        <i class="fa fa-calender"></i> &nbsp;
        <span id="date"></span>
        &nbsp; <i class="fa fa-caret-down"></i>
    </div>
    <div id="sorted_names" class="col-md-2 nav-item nav-align dropdown-header">
        <select class="browser-default custom-select header-styles">
          <option selected value="popularity">Popularity</option>
          <option value="whatsNew">What's New</option>
          <option value="discount">Better Discount</option>
          <option value="hightolow">Price:High to Low</option>
          <option value="lowtohigh">Price:Low to High</option>
        </select>
    </div>
    <div id="sources" class="col-md-2 nav-item nav-align dropdown-header">
        <select class="browser-default custom-select header-styles" id="sourcename">
        </select>
    </div>
    <div id="category" class="col-md-2 nav-item nav-align dropdown-header">
        <select class="browser-default custom-select header-styles">
          <option selected value="all">All</option>
          <option value="men">Men's</option>
          <option value="women">Women's</option>
        </select>
    </div>
    <div class="nav-item nav-align col-md-2">
      <!-- <input type="text" id="brandSearch" list="json-datalist" placeholder="Search Brand" name="search" class="header-styles search">
        <datalist id="json-datalist">
          <select id="brandName">
          </select>
        </datalist>
      <button type="submit" class="button-icon"><i class="fa fa-search"></i></button> -->
      <datalist id="brand">
        <select id="brands">
        </select>
      </datalist>
      <input type="text" list="brand" placeholder="Search Brand" name="brand" class="header-styles search">
      <!-- <input type="text" name="brand" list="brand"/> -->
    </div>

</nav>
<div class="row" id="add_element">

</div>
<div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p id="pagination-here"></p>
        </div>
      </div>
    </div>
</div>
<div class="loader text-center loader_eccomerce hide" style="background: rgba(0, 0, 0, 0.5) url(/static/images/ajax-loader-circle.gif) 50% 50% no-repeat;">
    <div class="loader-inner">
        <div class="lds-roller mb-3">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h4 class="text-uppercase font-weight-bold">Loading</h4>
    </div>
</div>
<br><br><br>

<style>
  .loader_eccomerce{
    background: rgba(0, 0, 0, 0.5) url(/static/images/ajax-loader-circle.gif) 50% 50% no-repeat;
    color: white;
  }
  .loader {
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
  }

.loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Spinner */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





    .highlightit:hover figure{
        border: 3px solid block;
    }
    .search{
      position: relative;
    }
    .button-icon {
      position: absolute;
      height: 34px;
    }
    .dropdown-header{
      padding-right: 0px;
      padding-left: 0px;
    }
    .header-styles{
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        color: black;
        height: 34px;
    }
    .numberCircle {
        width: 40px;
        line-height: 30px;
        /*border-radius: 50%;*/
        text-align: center;
        /*font-size: 32px;*/
        border: 2px solid #666;
    }
  .bg-primary {
    background-color: #337ab7!important;
   }
  .margin-down{
      margin-bottom: 15px;
      margin-top: 15px;
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .card-product:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden; }
  .card-product .price-new, .card-product .price {
    margin-right: 5px; }
  .card-product .price-old {
    color: #999; }
  .card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center; }
    .card-product .img-wrap img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover; }
      
      .card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee; }
  .card-product .action-wrap {
    padding-top: 4px;
    margin-top: 4px; }
  .card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee; }
  .card-product .title {
    margin-top: 0; }
    .content {
    height: 200px;
    }
    a { text-decoration: none; }


    .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    }

    .nav-fostrap {
    display: block;
    margin-bottom: 15px 0;
    background: #03A9F4;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    }

    .nav-fostrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    }

    .nav-fostrap li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14;
    color: #def1f0;
    }

    .nav-fostrap li a {
    padding: 15px 20px;
    font-size: 14;
    color: #def1f0;
    display: inline-block;
    outline: 0;
    font-weight: 400;
    }

    .nav-fostrap li:hover ul.dropdown { display: block; }

    .nav-fostrap li ul.dropdown {
    position: absolute;
    display: none;
    width: 200px;
    background: #2980B9;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top: 0;
    }

    .nav-fostrap li ul.dropdown li {
    display: block;
    list-style-type: none;
    }

    .nav-fostrap li ul.dropdown li a {
    padding: 15px 20px;
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: 400;
    }

    .nav-fostrap li ul.dropdown li:last-child a { border-bottom: none; }

    .nav-fostrap li:hover a {
    background: #2980B9;
    color: #fff !important;
    }

    .nav-fostrap li:first-child:hover a { border-radius: 3px 0 0 3px; }

    .nav-fostrap li ul.dropdown li:hover a { background: rgba(0,0,0, .1); }

    .nav-fostrap li ul.dropdown li:first-child:hover a { border-radius: 0; }

    .nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

    .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #def1f0;
    position: relative;
    top: 15px;
    right: -5px;
    content: '';
    }
    .title-mobile {
    display: none;
    }
    @media only screen and (max-width:900px) {

    .nav-fostrap {
    background: #fff;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    left: -200px;
    top: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    }
    .title-mobile {
    position: fixed;
    display: block;
        top: 10px;
        font-size: 20px;
        left: 100px;
        right: 100px;
        text-align: center;
        color: #FFF;
    }
    .nav-fostrap.visible {
    left: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    }

    .nav-bg-fostrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #03A9F4;
    padding: 12px 0 0 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    .navbar-fostrap {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px;
    }

    .navbar-fostrap span {
    height: 2px;
    background: #fff;
    margin: 5px;
    display: block;
    width: 20px;
    }

    .navbar-fostrap span:nth-child(2) { width: 20px; }

    .navbar-fostrap span:nth-child(3) { width: 20px; }

    .nav-fostrap ul { padding-top: 50px; }

    .nav-fostrap li { display: block; }

    .nav-fostrap li a {
    display: block;
    color: #505050;
    font-weight: 600;
    }

    .nav-fostrap li:first-child:hover a { border-radius: 0; }

    .nav-fostrap li ul.dropdown { position: relative; }

    .nav-fostrap li ul.dropdown li a {
    background: #2980B9 !important;
    border-bottom: none;
    color: #fff !important;
    }

    .nav-fostrap li:hover a {
    background: #03A9F4;
    color: #fff !important;
    }

    .nav-fostrap li ul.dropdown li:hover a {
    background: rgba(0,0,0,.1) !important;
    color: #fff !important;
    }

    .nav-fostrap li ul.dropdown li a { padding: 10px 10px 10px 30px; }

    .nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

    .arrow-down {
    border-top: 5px solid #505050;
    position: absolute;
    top: 20px;
    right: 10px;
    }

    .cover-bg {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
    @media only screen and (max-width:1199px) {

    .container { width: 96%; }
    }

    .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    }
    }
</style>
