<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<meta charset="utf-8"/>
<head>
<title>Major League Roster</title>

<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
<div>
<a name="index"/>
<h2 name="index" align="center">Major League SPORTS STATS REPORT ON {{today_date}}<h2>
</div>


<div class="row">
</div>

<a name="basic"/>

<div class="span12">
<span class="label label-info" type="button">Major League sports Stats</span>

<TABLE class="table table-bordered table-hover" style="max-width:none">
<thead>
<tr>
    <th rowspan = 2>Index</th>
    <th rowspan = 2>SPORT</th>
    <th colspan = 3>Matching</th>
    <th colspan = 3>Non Matching</th>
    </tr>
    <tr>
    {% for index in range(1) %}
        {% for row in ['ROS','MD','MIS'] %}
            <th>{{row}}</th>
        {% endfor %}
    {% endfor %}
    <th>ROS</th>
    <th>MD</th>
    <th>MIS</th>
    </tr>
</thead>
{% for big_list in big_lists %}
<tr>
    <td align=center>{{loop.index}}</td>
    {% for val in big_list %}
        <td><font size='2'>{{val}}</font></td>
    {% endfor %}
</tr>
{% endfor %}


</body>
</html>
